In [ ]:
!pip install google-play-scraper

Requirement already satisfied: google-play-scraper in /usr/local/lib/python3.11/dist-packages (1.2.7)

In [ ]:
# Mengimpor pustaka google_play_scraper untuk mengambil data ulasan dan informasi aplikasi dari Google Play Store.
from google_play_scraper import app, reviews, Sort, reviews_all
import pandas as pd

In [ ]:
# Mengambil semua ulasan dari aplikasi PLN Mobile di Google Play Store.
scraped_reviews = reviews_all(
    'com.icon.pln123',       # ID aplikasi PLN Mobile
    lang='id',               # Memilih bahasa ulasan
    country='id',            # Memilih negara
    sort=Sort.MOST_RELEVANT, # Sortir ulasan yang paling relevant
    count=10000              # Jumlah ulasan yang ingin diambil
)

In [ ]:
# Membuat DataFrame dari hasil scraping
app_reviews_df = pd.DataFrame(scraped_reviews)

# Menghitung jumlah baris dan kolom dalam DataFrame
print(f"Jumlah ulasan: {app_reviews_df.shape[0]}")
print(f"Jumlah fitur: {app_reviews_df.shape[1]}")

Jumlah ulasan: 157500
Jumlah fitur: 11

In [ ]:
# Menyimpan DataFrame ke file CSV
app_reviews_df.to_csv('pln_reviews.csv', index=False)

In [ ]:
score_counts = app_reviews_df['score'].value_counts()
score_counts

score
5    133354
1     13843
4      4033
3      3477
2      2793
Name: count, dtype: int64

In [ ]:
# membuat DataFrame baru filtered_df yang hanya berisi baris dengan score 1, 2, 3, atau 4.
filtered_df = app_reviews_df[app_reviews_df['score'].isin([1, 2, 3, 4])]

In [ ]:
n_samples = filtered_df.shape[0]  # Jumlah data score 1-4
score_5_df = app_reviews_df[app_reviews_df['score'] == 5].sample(n=n_samples, random_state=42)

balanced_df = pd.concat([filtered_df, score_5_df])
print(balanced_df['score'].value_counts())

score
5    24146
1    13843
4     4033
3     3477
2     2793
Name: count, dtype: int64

In [ ]:
# Menyimpan DataFrame yang sudah di undersampling ke file CSV
balanced_df.to_csv('pln_mobile_reviews.csv', index=False)